<div class="home__container">
	<app-card
		gameCover="assets/super_mario_odyssey.jpg"
		gameLabel="DIGITAL"
		gameType="DIGITAL | NINTENDO SWITCH"
		gamePrice="R$ 299,99"
	>
	</app-card>
	<app-card
		gameCover="assets/zelda.jpg"
		gameLabel="EXCLUSIVE"
		gameType="DIGITAL | NINTENDO SWITCH"
		gamePrice="R$ 269,99"
	>
	</app-card>
	<app-card
		gameCover="assets/minecraft.jpg"
		gameLabel="BEST OF YEAR"
		gameType="DIGITAL | NINTENDO SWITCH"
		gamePrice="R$ 169,99"
	>
	</app-card>
	<app-card
		gameCover="assets/pokemon.jpg"
		gameLabel="EXCLUSIVE"
		gameType="DIGITAL | NINTENDO SWITCH"
		gamePrice="R$ 259,99"
	>
	</app-card>
	<app-card
		gameCover="assets/move.jpg"
		gameLabel="BEST OF YEAR"
		gameType="DIGITAL | NINTENDO SWITCH"
		gamePrice="R$ 199,99"
	>
	</app-card>
	<app-card
		gameCover="assets/animal.jpg"
		gameLabel="BEST OF YEAR"
		gameType="DIGITAL | NINTENDO SWITCH"
		gamePrice="R$ 199,99"
	>
	</app-card>
	<app-card
		gameCover="assets/super.jpg"
		gameLabel="NEW"
		gameType="DIGITAL | NINTENDO SWITCH"
		gamePrice="R$ 209,99"
	>
	</app-card>
	<app-card
		gameCover="assets/zelda_2.jpg"
		gameLabel="NEW"
		gameType="DIGITAL | NINTENDO SWITCH"
		gamePrice="R$ 299,99"
	>
	</app-card>
	<app-card
		gameCover="assets/wonder.jpg"
		gameLabel="NEW"
		gameType="DIGITAL | NINTENDO SWITCH"
		gamePrice="R$ 119,99"
	>
	</app-card>
	<app-card
		gameCover="assets/genesis.jpg"
		gameLabel="NEW"
		gameType="DIGITAL | NINTENDO SWITCH"
		gamePrice="R$ 129,99"
	>
	</app-card>
	<app-card
		gameCover="assets/bomberman.jpg"
		gameLabel="NEW"
		gameType="DIGITAL | NINTENDO SWITCH"
		gamePrice="R$ 129,99"
	>
	</app-card>
	<app-card
		gameCover="assets/disney.jpg"
		gameLabel="NEW"
		gameType="DIGITAL | NINTENDO SWITCH"
		gamePrice="R$ 199,99"
	>
	</app-card>
</div>
